@font-face {
  font-family: "UbuntuMono";
  src: url("./public/fonts/UbuntuMono-Regular.ttf") format("TrueType");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "UbuntuMono";
  src: url("./public/fonts/UbuntuMono-Italic.ttf") format("TrueType");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "UbuntuMono";
  src: url("./public/fonts/UbuntuMono-Bold.ttf") format("TrueType");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "UbuntuMono";
  src: local("./public/fonts/UbuntuMono-BoldItalic.ttf") format("TrueType");
  font-style: italic;
  font-weight: 700;
}

body {
  font-family: "UbuntuMono", sans-serif;
  background: #1e1e2e;
  color: #cdd6f4;
}

.container {
  display: grid;
  grid-gap: 20px;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.container2 {
  text-align: center;
  grid-column: 1/-1;
  margin-left: 0px;
}

h1.time {
  font-size: 100px;
  margin-bottom: 0px;
}

p.date {
  margin-top: 0px;
}

h3.title {
  margin-top: 0;
  margin-bottom: 5px;
}

li {
  list-style-type: none;
  padding: 5px;
}

a:link {
  text-decoration: none;
  color: #89b4fa;
}

a:visited {
  color: #b4befe;
}

a:hover {
  color: #89dceb;
}

.category {
  background-color: #45475a;
  padding: 20px;
  border: #191c1e;
  border-radius: 5px;
  width: 85%;
  text-align: center;
  /* box-shadow: 3px 5px #11111b; */
}
